<div class="container">
  <div *ngIf="formData" class="distributor-form">
    <div class="header">
      <h2>{{ formData.create ? 'Create' : 'Edit' }} Distributor Mapping</h2>
      <p>Distributor Name: {{ formData.distributorName }}</p>
    </div>
    <div class="content-header">
      <div class="header-one">
        <h3>Distributor column names (Variable)</h3>
      </div>
      <div class="header-two">
        <h3>Standard column template (Constant)</h3>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="content">
        <div class="options" *ngFor="let item of standardHeader; let i = index" style="width: 100%;">
          <div style="width: 30%;" formArrayName="dropdowns">
            <select [formControlName]="i" id="dropdown-{{i}}">
              <option value="" disabled>Select an option</option>
              <option *ngFor="let option of getAvailableOptions(i)" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
          <div style="width: 70%;">
            <p>{{ item }}</p>
          </div>
        </div>

      </div>
      <div class="button-section">
        <button type="submit" [disabled]="form.invalid">Save Mapping</button>
        <button type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>

  <div *ngIf="!formData">
    <p>No data available.</p>
  </div>
</div>